openapi: 3.0.0
info:
  title: Khatm API
  description: API for the Khatm platform
  version: 1.0.0
servers:
  - url: 'http://api.khatmapp.com/v1'
paths:
  /user:
    get:
      summary: Get User
      description: User
      responses:
        '200':
          description: A JSON of a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /challenge:
    summary: Challenge
    get:
      summary: Get Challenge
      parameters:
        - name: challengeId
          in: path
          required: true
          schema:
            type : integer
      responses:
        '200':
          description: A JSON of a challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
    post:
      summary: Create Challenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Challenge'
      responses:
        '201':
          description: Created
    put:
      summary: Update Challenge
      parameters:
        - name: challengeId
          in: path
          required: true
          schema:
            type : integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Challenge'
      responses:
        '205':
          description: Updated
  /challenge/{challengeId}/intent:
    parameters:
      - name: challengeId
        in: path
        required: true
        schema:
          type : integer
    get:
      summary: Get Intent
      parameters:
        - name: intentId
          in: path
          required: true
          schema:
            type : integer
      responses:
        '200':
          description: A JSON of an Intent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intent'
    post:
      summary: Create Intent for Challenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intent'
      responses:
        '201':
          description: Created
    put:
      summary: Update Intent
      parameters:
        - name: intentId
          in: path
          required: true
          schema:
            type : integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intent'
      responses:
        '205':
          description: Updated
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        firstName:
          type: string
        lastName:
          type: string
    UserStats:
      description: Track metrics on a user
      type: object
      properties:
        id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        intentsCreated:
          type: integer
        intentsFinished:
          type: integer
        intentsAborted:
          type: integer
        challengesContributed:
          type: integer
        challengesModerated:
          type: integer
    UserSession:
      description: Login session information for a user
      type: object
      properties:
        id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
        platform:
          type: string
          description: android, ios
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    UserPushToken:
      description: Push Notification token information for a user
      type: object
      properties:
        id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
        platform:
          type: string
          description: apns, gcm
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    Challenge:
      description: Challenge created by a user
      type: object
      properties:
        id:
          type: integer
        moderator:
          $ref: '#/components/schemas/User'
        book:
          $ref: '#/components/schemas/Book'
        currentState:
          $ref: '#/components/schemas/ChallengeState'
        completeAt:
          type: string
          format: date-time
    ChallengeState:
      description: State Machine for Challenges
      type: object
      properties:
        id:
          type: integer
        challenge:
          $ref: '#/components/schemas/Challenge'
        state:
          type: string
          description: created, published, finished
        createdAt:
          type: string
          format: date-time
    Intent:
      description: Intent created by a user when they commit to a challenge
      type: object
      properties:
        id:
          type: integer
        createdAt:
          type: string
          format: date-time
        challenge:
          $ref: '#/components/schemas/Challenge'
        user:
          $ref: '#/components/schemas/User'
        book:
          $ref: '#/components/schemas/Book'
        currentState:
          $ref: '#/components/schemas/IntentState'
        part:
          type: integer
    IntentState:
      description: State Machine for Intents
      type: object
      properties:
        id:
          type: integer
        intent:
          $ref: '#/components/schemas/Intent'
        state:
          type: string
          description: started, ended, aborted
        createdAt:
          type: string
          format: date-time
    Book:
      description: Particulars of the challenge itself
      type: object
      properties:
        id:
          type: integer
        slugId:
          type: string
        totalParts:
          type: integer
        partLabel:
          type: integer
